/*
    Created on : 20 Dec, 2016, 3:33:36 PM
    Author     : Anurag Lingam
*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Josefin Sans', 'Helvetica';
}

*, *:before, *:after {
    box-sizing: inherit;
}

.screen {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.no-select {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                          not supported by any browser */
}

.text-center {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix {
    clear: both;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    position: absolute;
    display: inline-block;
    content: attr(data-tooltip);
    top: -50%;
    right: 0%;
    font-size: .4em;
    background-color: rgba(0, 0, 0, .8);
    padding: 6px 4px 2px 4px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
            transition: top .1s, opacity .1s;
    -webkit-transition: top .25s ease-in-out, opacity .25s ease-in-out;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: -80%;
}

#side-links .social-link i {
    line-height: 32px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

#homescreen {
    background-color: #67d3ea;
    color: white;
    font-size: 4em;
    text-align: center;
}

.animate-on-hover {
    padding: 64px;
}

.animate-on-hover > span {
    transition-duration: .3s;
    transition-timing-function: ease;
}

.animate-on-hover:hover > span {
    font-size: .9em;
}

.animate-on-hover > span:hover {
    font-size: 1.1em;
}

#name {
    position: relative;
}

#name::after {
    content: 'Lingam';
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom .25s, opacity .25s;
}

#name:hover {
    font-size: 1.2em;
    color: #583e23;
}

#name:hover::after {
    opacity: 1;
    bottom: -100%;
}

.extra-space {
    display: block;
    content: '';
    height: 100px;
    max-height: 0;
    transition: max-height .25s ease-in;
}

#name:hover + .extra-space {
    max-height: 100px;
}

#side-links {
    position: fixed;
    z-index: 1000;
    top: 36px;
    right: 12px;
    transition: background-color .2s ease-in-out, max-height 1s linear;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 26px;
    text-align: center;
    /* Hidden contents */
    max-height: 52px;
    overflow: hidden;
}

#side-links .toggle-button {
    font-size: 20px;
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px;
    line-height: 40px;
    margin: 8px;
    color: rgba(0,0,0,0.2);
    background-color: white;
    transition-duration: .2s;
}

#side-links:hover {
    background-color: rgba(0, 0, 0, .1);
    max-height: 999px;
}

#side-links:hover .toggle-button {
    color: white;
    background-color: transparent;
    transform: rotate(-90deg);
}

#side-links:hover .social-link {
    opacity: 1;
}

#side-links .social-link {
    position: relative;
    bottom: 0;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px;
    line-height: 40px;
    margin: 8px;
    opacity: 0;
    transition: opacity .2s ease-in-out, bottom .1s ease-in-out, background 0.1s ease-in-out, color 0.1s ease-in-out;
}

#side-links .social-link:hover {
    color: white;
    bottom: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

#side-links .social-link:hover i {
    color: white;
}

.sl-linkedin, .sl-twitter, .sl-facebook {
    background-color: white;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.sl-linkedin {
  color: #0077b5;
}
.sl-linkedin:hover {
    background-color: #0077b5;
}

.sl-twitter {
    color: #1da1f2;
}
.sl-twitter:hover {
    background-color: #1da1f2;
}

.sl-facebook {
    color: #3b5998;
}
.sl-facebook:hover {
    background-color: #3b5998;
}
