/*
    Created on : 20 Dec, 2016, 3:33:36 PM
    Author     : Anurag Lingam
*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', 'Helvetica';
    background-color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.screen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: -20;
}

.no-select {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                  not supported by any browser */
}

.text-center {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: -80%;
}

#side-links .social-link i {
    line-height: 32px;
}

/* Home screen start */
#homescreen {
    background-color: #67d3ea;
    background: radial-gradient(circle at bottom, rgb(194, 237, 247) 0%, rgb(103, 211, 234) 100%);
    color: white;
    font-size: 4em;
    text-align: center;
}

.animate-on-hover {
    padding: 64px;
}

.animate-on-hover:hover > span {
    font-size: .9em;
    transition: font 0.3s ease;
}

.animate-on-hover > span:hover {
    font-size: 1.1em;
}

#full-name {
    display: block;
}

#full-name > .name {
    transition: color .3s ease, opacity .3s ease, top .3s ease;
}

#full-name:hover > .name {
    font-size: 1.2em;
    color: #583e23;
}

#full-name > .surname {
    opacity: 0;
    position: relative;
    top: -1em;
    transition: color .3s ease, opacity .3s ease, top .3s ease;
}

#full-name:hover > .surname {
    font-size: 1.2em;
    color: #583e23;
    top: 0;
    opacity: 1;
}
/* Home screen end */

/* Awards screen start */
#awardscreen {
    background-color: #333333;
}
/* Awards screen end */

#side-links {
    position: fixed;
    z-index: 1000;
    top: 36px;
    right: 12px;
    transition: background-color .2s ease-in-out, max-height 1s linear;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 26px;
    text-align: center;
    /* Hidden contents */
    max-height: 52px;
    overflow: hidden;
}

#side-links .toggle-button {
    font-size: 30px;
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    margin: 8px;
    color: white;
    transition: transform .2s ease-in-out;
    box-shadow: inset 0 0 0 8px white;
    vertical-align: middle;
}

.toggle-button i {
    line-height: 36px;
}

#side-links:hover {
    background-color: rgba(0, 0, 0, .1);
    max-height: 999px;
}

#side-links:hover .toggle-button {
    color: white;
    background-color: transparent;
    transform: rotate(-90deg);
}

#side-links:hover .social-link {
    opacity: 1;
}

#side-links .social-link {
    position: relative;
    bottom: 0;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px;
    line-height: 40px;
    margin: 8px;
    opacity: 0;
    transition: opacity .2s ease-in-out,
        bottom .1s ease-in-out,
        background .1s ease-in-out,
        color .1s ease-in-out;
}

#side-links .social-link:hover {
    color: white;
    bottom: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

#side-links .social-link:hover i {
    color: white;
}

.sl-linkedin, .sl-twitter, .sl-facebook {
    background-color: white;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.sl-linkedin {
    color: #0077b5;
}

.sl-linkedin:hover {
    background-color: #0077b5;
}

.sl-twitter {
    color: #1da1f2;
}

.sl-twitter:hover {
    background-color: #1da1f2;
}

.sl-facebook {
    color: #3b5998;
}

.sl-facebook:hover {
    background-color: #3b5998;
}

/* Screen navigation */

#page-links {
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.page-link-label {
    color: white;
    font-weight: 600;
    margin-left: 4px;
    cursor: pointer;
}

.page-link-radio {
    float: left;
    margin-left: 20px;
    outline: none;
    display: none;
}

.page-link {
    display: inline-block;
    margin-bottom: 12px;
}

.page-link:first-of-type {
    margin-top: 20px;
}

.page-link-radio-mock {
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-left: 20px;
    float: left;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.page-link-radio + .page-link-radio-mock::after {
    position: absolute;
    content: '';
    display: block;
    left: 6px;
    top: 6px;
    bottom: 6px;
    right: 6px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    /*transition: opacity 0.2s ease;*/
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.page-link-radio:checked + .page-link-radio-mock::after {
    opacity: 1;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
}

.screen {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.page-link-radio:checked ~ .screen {
    opacity: 1;
    z-index: -10;
}